@charset "utf-8";
/* CSS Document */

 * {
box-sizing: border-box;
}

.header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr ;
  grid-template-rows: 1fr;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #2b3e56;
  opacity: 95%;
  top: 0;
}

body {
	background-color: #2b3e56;
	font-family: 'Josefin Sans', sans-serif;
	height: 100%;
	display: grid;
	webkit-text-size-adjust: 100%;
	webkit-font-smoothing: antialiased;
}

.backbtn {
	color: white;
	grid-column-end: 2;
	grid-row: 1;
  font-size: 30px;
  margin-left: -30px;
}

.pagetitle{
	color: white;
	grid-row: 1;
	font-size: 12px;
	text-align: center;
  padding-top: 8px;
  font-family: 'Josefin Sans';
}

main {
  margin-top: 70px;
}


/*FORMS*/

.forms{
	grid-column: 2;
	grid-row: 3;
}

body {
	display: grid;
	font-family: 'Josefin Sans', sans-serif;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

.inp {
	position: relative;
	margin: auto;
	width: 100%;
	max-width: 280px;
}

.inp .label {
	position: absolute;
	top: 10px;
	left: 0;
	font-size: 100%;
	color: white;
	font-weight: 500;
	transform-origin: 0 0;
	transition: all 0.2s ease;
	text-indent: 14px;
}

.inp .border {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 100%;
	background: none;
	transform: scaleX(0);
	transition: all 0.15s ease;
}

.inp input {
	-webkit-appearance: none;
	width: 100%;
	border: 0;
	font-family: 'Josefin Sans', sans-serif;
	padding: 12px 0 0px;
	height: 60px;
	font-size: 16px;
	border-bottom: 1px solid white;
	background: none;
	border-radius: 0;
	color: white;
	transition: all 0.15s ease;
}

.inp input:hover {
	background: rgba(34,50,84,0.03);
}

.inp input:not(:placeholder-shown) + span {
	color: #c8ccd4;
	transform: translateY(-26px) scale(0.75);
}

.inp input:focus {
	background: none;
	outline: none;
}

.inp input:focus + span {
	color: #c8ccd4;
	transform: translateY(-26px) scale(0.75);
}
