@charset "utf-8";
/* CSS Document */


 * {
	box-sizing: border-box;
}


.wrapper {
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: auto;
	grid-gap: 5px;
}


main{
	grid-column: 1/-1; 
}


body {
	background-color: #2b3e56;
	font-family: 'Josefin Sans', sans-serif;
	height: 100%;
	display: grid;
	webkit-text-size-adjust: 100%;
	webkit-font-smoothing: antialiased;
}


.backbtn {
	color: white;
	grid-column: 2;
	grid-row: 1;
	text-align: left;
	padding-top: 33px;
	font-size: 100%;
	text-indent: 3px;
}

a {
	color: white;
}


.helptitle {
	color: white;
	grid-column-start: 2;
	grid-row: 1;
	font-size: 80%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

h1{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: lighter;
}

.txtbg {
	grid-column: 2;
	grid-row: 2;
	height: 550px;
	width: 330px;
	text-align: center;
	background-color: white;
	padding-top: 20px;
	
	
}