/* --- UNIVERSAL STYLING  --- */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1, a, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
}

p {
  font-family: 'Josefin Sans', sans-serif;
}


/* --- Flexbox  --- */
.flexWrapper {
  display: flex;
}


/* --- Aside nav wrapper  --- */
.asideWrapper {
	height: 100%;
	min-width: 310px;
	background-color: black;
	opacity: 90%;
    position: fixed;
	flex-direction: column;
	justify-content: center;
    display: flex;
	z-index: 100;
}


/* --- Aside NAV  --- */
.navWrapper ul {
  margin-left: 15px;
  list-style: none;
}

.navWrapper ul li {
  margin: 25px 5px;
}

.navWrapper ul li a {
  display: block;
  padding: 5px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.navWrapper ul li a:after,
.navWrapper ul li a:before {
  transition: all 0.5s;
}

.navWrapper ul li a:hover {
  color: #75DBCD;
}

/* stroke */
.navWrapper ul li a {
  position: relative;
}

.navWrapper ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0%;
  content: ".";
  color: transparent;
  background: #75DBCD;
  height: 2px;
}

.navWrapper ul li a:hover:after {
  width: 70%;
}

/* --- Aside LOGO  --- */
.asideWrapper img {
  position: absolute;
  width: 100%;
  height: 130px;
  top: 0;
}

/* --- main wrapper  --- */
.mainWrapper {
  position: relative;
  left: 15%;
  height: auto;
  max-width: 100%;
}


/* --- First section / Landing section  --- */
.landingSection {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-color: #2b3e56;
  margin-bottom: 50px;
  margin-left: 25px;
  overflow: hidden;
  font-family: 'Josefin Sans', sans-serif;
}

.landingSection h1, h2 {
  font-size: 50px;
  color: rgb(238, 238, 238);
  margin-left: 10%;
  font-family: 'Josefin Sans', sans-serif;
}

.landingSection p {
  font-size: 20px;
  line-height: 25px;
  color: white;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Josefin Sans', sans-serif;
}


/* --- Section section / Farver  --- */
.farveSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 50px;
  margin-left: 10%;

}
.farveSection h1 {
  margin: 14px;
  font-size: 50px;
  color: #2b3e56;
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
  margin-left: 0%;
}
.farveSection .color {
  margin: 14px 16px;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  margin-left: -5%;
}
.colorInfo {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 5%;
  align-items: center;
}
.colorInfo div:first-child {
  margin-right: 50px;
}
.white div p {
  color: white;
  font-size: 20px;
  margin-left: 0%;

}

/* --- Third section / LOGO  --- */
.logoSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 50px;
  margin-left: 10%;
}

.logoSection h1 {
  font-size: 50px;
  color: #2b3e56;
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
  
}

.logoSection img {
  width: 400px;
}

.logoSection h3 {
  font-size: 20px;
  color: #2b3e56;
}

.logoSection hr {
  width: 400px;
  
}

.logoHvid {
  margin-top: 10px;
  background-color: #2b3e56;
  padding: 14px 16px;
  width: 400px;
  margin-left: -5%;
}


/* --- Knapper section  --- */
.knapperSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  margin-left: 10%;
}

.knapperSection h1 {
  margin: 14px 16px;
  font-size: 50px;
  width: 100%;
  color: #2b3e56;
}

.knapperSection article {
  width: 35%;
}

.knapperSection article h2 {
  color: #2b3e56;
  margin: 10px 0;
  font-size: 50px;
}

.knapperSection article h3 {
  color: #2b3e56;
}

.knapperSection article hr {
  width: 60%;
  margin: 5px 0;
}

.knapperSection article p {
  color: #2b3e56;
  font-size: 20px;
  margin: 10px 0;
}
	
.codeEmbed {
  position: relative;
  padding: 14px 16px;
  border-left: 3px solid #d8764e;
  background-image: linear-gradient(to right, rgb(236, 236, 236), white);
  margin-bottom: 50px;
}

.codeEmbed code {
  font-size: 20px;
}


/* NAV knap */
.navList {
  width: 239px;
  padding: 10px 25px;
  box-sizing: border-box;
  background-color: #2b3e56;
  list-style: none;
  text-align: center;
  margin: 1em;
}

.navList a {
  font-size: 25px;
  color: white;
  text-decoration: white;
  cursor: pointer;
}

.navList a:after,
.navList a:before {
  transition: all 0.5s;
}

.navList a:hover {
  color: #d36d75;
}


/* stroke on nav buttons*/
.navList a {
  position: relative;
}

.navList a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #d36d75;
  height: 3px;
}

.navList a:hover:after {
  width: 100%;
}


/* Standard BTN */
.standardBtn {
  height: 50px;
  min-width: 280px;
  border: 1px solid #707070;
  border-radius: 5px;
  background-color: #2b3e56;
  color: white;
  font-size: 22px;
  font-weight: bold;
  padding: 12px 61px;
  margin: 1em;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.5s all;
  text-decoration: none;
  text-align: center;
}

.standardBtn:hover {
  color: #2b3e56;
  background-color: white;
}

.blue {
  background-color: white;
  color: #2b3e56;
}

.blue:hover {
  background-color: #2b3e56;
  border: 1px solid white;
  color: white;
}


/* --- Fourth section / Typografi  --- */
.typoSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-left: 10%;
}

.typoSection article {
  width: 55%;
}

.typoSection h1 {
  margin: 14px 0;
  font-size: 50px;
  color: #2b3e56;
}

.typoSection p {
  margin: 14px 0;
  font-size: 20px;
}


/* femte section - input */
.inputSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-left: 10%;
}

.inputSection h1 {
  margin: 14px 0;
  font-size: 50px;
  color: #2b3e56;
}

.inputSection p {
  margin: 14px 0px;
  font-size: 20px;
  width: 700px;
}

.inputSection h3 {
  font-size: 25px;
  margin: 14px 0px;
  color: #2b3e56;
}

.inputSection hr {
  width: 600px;
  margin-bottom: 10px;
}

.inputSection input[type="text"] {
  width: 400px;
  font-size: 16px;
  margin: 5px 0px;
  height: 50px;
  padding-left: 15px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid gray;
}

.inputSection input[name="textblue"] {
  width: 300px;
  background-color: #2b3e56;
  color: white;
}

.inputSection input[name="textblue"]::placeholder {
  color: white;
}

.inputSection input[type="date"] {
  width: 180px;
  font-size: 16px;
  padding: 5px 5px;
  border-radius: 5px;
  border: 1px solid gray;
  margin: 5px 0;
}

.inputSection input[name="dateBlue"] {
  background-color: #2b3e56;
  color: white;
}

.inputSection input[type="password"] {
  width: 400px;
  font-size: 16px;
  margin: 5px 0px;
  height: 50px;
  padding-left: 15px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid gray;
}

.inputSection input[type="checkbox"] {
  width: 50px;
  height: 50px;
}

.inputSection textarea {
  width: 600px;
  resize: vertical;
  padding: 1em;
  min-height: 20px;
}


/* ---  Iconer  --- */
.iconerSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-left: 10%;
}
.iconerSection h1 {
  margin: 14px 0;
  font-size: 50px;
  color: #2b3e56;
}
.iconerSection h3 {
  margin: 14px 0;
  font-size: 20px;
  color: #2b3e56;
  width: 60%;
}
.iconerSection p {
  margin: 14px 0;
  font-size: 18px;
  color: black;
}
.iconerSection a {
  font-size: 16px;
  color: black;
}
.iconerSection .iconTable {
  width: 50%;
  text-align: left;
  font-size: 22px;
  color: white;
  background-color: #2b3e56;
}
.iconTable tr th {
  border: 1px solid white;
  padding: 1em;
  font-weight: 300;
}

/* ---  Navigation  --- */
.navigationSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-left: 10%;
}

.navigationSection h1 {
  margin: 14px 0;
  font-size: 50px;
  color: #2b3e56;
}

.navigationSection h3 {
  margin: 14px 0;
  font-size: 30px;
  color: #2b3e56;
}

.navigationSection h4 {
  margin: 14px 0;
  font-size: 25px;
  color: #2b3e56;
}

.navigationSection hr {
  width: 80%;
  margin-bottom: 15px;
}

.navigationSection article {
  width: 80%;
}


/* section NAV */
.frontpageNav ul {
  width: 80%;
  height: 74px;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.frontpageNav ul li {
  width: 239px;
  padding: 10px 25px;
  box-sizing: border-box;
  background-color: #2b3e56;
  list-style: none;
  text-align: center;
}

.frontpageNav ul li a {
  font-size: 25px;
  color: white;
  text-decoration: white;
  cursor: pointer;
}

.frontpageNav ul li a:after,
.frontpageNav ul li a:before {
  transition: all 0.5s;
}

.frontpageNav ul li a:hover {
  color: #d36d75;
}


/* stroke on nav buttons*/
.frontpageNav ul li a {
  position: relative;
}

.frontpageNav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #d36d75;
  height: 3px;
}

.frontpageNav ul li a:hover:after {
  width: 100%;
}


/* different colors on hover */
.frontpageNav ul li#purple:after {
  background: #aa81ac;
}

.frontpageNav ul li #purple:hover {
  color: #aa81ac;
}

.frontpageNav ul li #blue:hover {
  color: #6696ac;
}

.frontpageNav ul li #blue:after {
  background: #6696ac;
}

.frontpageNav ul li #green:after {
  background: #a6bb75;
}

.frontpageNav ul li #green:hover {
  color: #a6bb75;
}


/* Navigation pÃ¥ alle undersiderne */
.undersideNav {
  width: 80%;
  height: 140px;
  background-color: #2b3e56;
}

.mainNav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.mainNav ul li {
  list-style: none;
  margin-top: 10px;
}

.mainNav ul li a {
  position: relative;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.mainNav ul #logo {
  margin-top: 10px;
  margin-left: 130px;
  margin-right: 130px;
}

.mainNav ul #kalender {
  margin-left: 130px;
}

.mainNav ul #events {
  margin-right: 130px;
}


/* stroke on nav buttons*/
.mainNav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #d36d75;
  height: 3px;
}

.mainNav ul li a:hover:after {
  width: 100%;
}

.mainNav ul li a:after,
.mainNav ul li a:before {
  transition: all 0.5s;
}


  /* different colors on hover */
#purple:after {
  background: #aa81ac;
}

#blue:after {
  background: #6696ac;
}

#green:after {
  background: #a6bb75;
}


/* ---  Sprog  --- */
.sprogSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-left: 10%;
}

.sprogSection h1 {
  margin: 14px 0;
  font-size: 50px;
  color: #2b3e56;
}

.sprogSection article {
  margin: 14px 16px;
  display: flex;
  width: 100%;
  height: 600px;
  flex-wrap: wrap;
}

.sprogSection article h1 {
  font-size: 35px;
  color: white;
}

.sprogSection article .sprog {
  margin: 14px 16px;
  width: 400px;
  height: 400px;
  text-align: center;
}

.sprog div:first-child {
  height: 60%;
  background-color: #2b3e56;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sprog p {
  font-size: 20px;
  margin: 14px 0px;
}


/* --- Six section / Billeder  --- */
.billederSection {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-left: 10%;
}

.billederSection h1 {
  font-size: 50px;
  color: #2b3e56;
}
