* {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;

  outline: none;
}

.switch{
  pointer-events: auto !important;
}

body {
  background: #2E3E54;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.gridwrap {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 2fr 0.5fr 3fr;}

.topsection {
  display: grid;
  grid-column: 1/-1;
  grid-row: 1;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  font-size: 36px;
}




/* burger-menu */
#nav-container {
  position: fixed;
  height: 120%;
  width: 100%;
  pointer-events: none;
  display: grid;
  z-index: 1000 !important;
}

#nav-container .bg {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: .5s;
  background: #000;
}

#nav-container:focus-within .bg {
  visibility: visible;
  opacity: .45;
  outline: none;
  display: block;
}

#nav-container * {
  visibility: visible;
}

.navbutton {
  grid-column: 1;
  display: inline-block;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-top: 5%;
  margin-left: 5%;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #fff;
  transition: .3s;
  z-index: 1001 !important;
  position: relative;
}

.icon-bar+.icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .navbutton {
  pointer-events: none;
}

#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0, 8px, 0) rotate(45deg);
}

#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}

#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0, -8px, 0) rotate(-45deg);
}

#nav-content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  padding: 20px;
  width: 90%;
  max-width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  background: rgba(0, 0, 0, 0.8);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateX(-101%);
  transition: transform .3s;
  will-change: transform;
  contain: paint;
  z-index: 1000 !important;
}


.menuitems {
  grid-column: 1/-1;
  height: 100%;
  margin-top: 80%;
  margin-left: 30% !important;
  pointer-events: auto;
  position: absolute;
}

.logout {
  grid-column: 1/-1;
  grid-row: 2;
  height: 100%;
  margin-top: -90%;
  margin-left: 30% !important;
  pointer-events: auto;
  position: absolute;

}

.fa-user-circle {
  grid-column: 2;
  grid-row: 2;
  margin-top: -15%;
  margin-left: -10%;
  margin-bottom: 20%;
  font-size: 100px;
}

#nav-content li a {
  padding: 10px 5px;
  margin-top: 8%;
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  transition: color .1s;
}

#nav-content li:hover {
  color: #BF7497;
}

.fa-li {
  font-size: 10px;
}

#nav-content li .fa-graduation-cap {
  font-size: 12px;
}

#nav-container:focus-within #nav-content {
  transform: none;
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: .2s ease-in-out;
}

h1, h2, h3, h4 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}





/* DROPDOWN CONTAINER */

#ddContainer {
  position: fixed;
  height: 120%;
  width: 100%;
  pointer-events: none;
  display: grid;
  z-index: 1000 !important;
}

#ddContainer .ddBackground {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: .5s;
  background: #000;
}

#ddContainer:focus-within .ddBackground {
  visibility: visible;
  opacity: .45;
  outline: none;
  display: block;
}

#ddContainer * {
  visibility: visible;
}

.hiddenContainer {
  grid-column: 1;
  display: inline-block;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  margin-top: 5%;
  margin-left: 5%;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.dropdown{
  cursor: pointer;
  pointer-events: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 2fr 2fr;
  position: absolute;
  margin-top: 30%;
  margin-left: 18.5%;
  width: 199px;
  height: 150px;
  color: #ffffff;
  border-radius: 2%;
  z-index: 100;
  justify-items: center;
  align-items: center;
  opacity: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateY(-10%);
    transition: transform .3s;
}

#ddContainer:focus-within .dropdown {
height: 400px;
margin-top: 40%;
position: absolute;
z-index: 99999;
}

.icon-bar1 {
  display: block;
  width: 100%;
  height: 3px;
  background: #fff;
  transition: .3s;
  z-index: 1001 !important;
  position: relative;
  margin-left: 40px;
}

#ddContainer:focus-within .hiddenContainer {
  pointer-events: none;
}

#ddContent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 2fr 2fr;
  position: absolute;
  margin-top: 67%;
  margin-left: 23%;
  width: 202px;
  height: 250px;
  color: #ffffff;
  border-radius: 2%;
  z-index: 100;
  background-color: transparent;
  justify-items: center;
  transform: scale(0.0001);
  transition: transform .6s ease-in-out;
  align-items: center;
  opacity: 0.9;
  contain: paint;
  will-change: transform;
}



#ddContainer:focus-within #ddContent {
  transform: none;
  background-color: #000;
}



.editKnap{
  grid-column: 1/-1;
  grid-row: 1;
  background-color: #62bdba;
  height: 50%;
  width: 80%;
  line-height: 45px;
  color: #ffffff;
  text-align: center;
}
.shareKnap{
  grid-column: 1/-1;
  grid-row: 2;
  background-color: #62bdba;
  height: 50%;
  width: 80%;
  line-height: 45px;
  color: #ffffff;
  margin-top: -10%;
  text-align: center;
}

.deleteKnap{
  grid-column: 1/-1;
  grid-row: 3;
  background-color: #375868;
  height: 50%;
  width: 80%;
  line-height: 45px;
  color: #ffffff;
  margin-top: -20%;
  text-align: center;
}


.plusicon {
  display: inline-block;
  grid-column: 2;
  margin-top: 7%;
  margin-right: 7%;
  justify-self: end;
  font-size: 30px;
}




/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME *//* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME *//* HOME */
/* HOME */
/* HOME */




.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.45);
}

/* The Close Button */
.homeClose {
  grid-column: 3;
  grid-row: 1;
  color: #aaa;
  margin-top: -20px;
  font-size: 28px;
  font-weight: bold;
}

.homeClose:hover,
.homeClose:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.home-box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 5fr 5fr;
  justify-items: end;
  background-color: #000;
  margin: 378px auto;
  padding: 20px;
  width: 335px;
  height: 250px;
}

.home-content{
display: grid;
grid-column: 1/-1;
grid-row: 2/-1;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
grid-column-gap: 10px;
text-align: center;
justify-items: center;
align-items: center;
width: 320px;
height: 163px;
}

.homeKnap1{
  margin-top: 40px;
  grid-column: 1;
  grid-row: 1;
  background-color: #fff;
  height: 100px;
  width: 150px;
  color: #000;
  border-radius: 2%;
  pointer-events: auto;
  line-height: 70px;

}
.homeKnap2{
  margin-top: 40px;
  grid-column: 2;
  grid-row: 1;
  background-color: #fff;
  height: 100px;
  width: 150px;
  color: #000;
  border-radius: 2%;
  text-align: center;
  pointer-events: auto;
  line-height: 70px;
}

.homeText{
margin-top: 10%;
}











/*
SCHOOL
SCHOOL
SCHOOL
SCHOOL
SCHOOL
SCHOOL
SCHOOL
SCHOOL
SCHOOL
SCHOOL
SCHOOL
v
SCHOOL
SCHOOL
SCHOOL
SCHOOL
SCHOOL
SCHOOL
SCHOOL
SCHOOL
SCHOOL
SCHOOL
SCHOOL
v
SCHOOL
SCHOOL */




.schoolClose {
  grid-column: 3;
  grid-row: 1;
  color: #aaa;
  margin-top: -20px;
  font-size: 28px;
  font-weight: bold;
}

.schoolClose:hover,
.schoolClose:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.school-box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 5fr 5fr;
  justify-items: end;
  background-color: #000;
  margin: 378px auto;
  padding: 20px;
  width: 335px;
  height: 250px;
}

.school-content{
display: grid;
grid-column: 1/-1;
grid-row: 2/-1;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
grid-column-gap: 10px;
text-align: center;
justify-items: center;
align-items: center;
width: 320px;
height: 163px;
}

.schoolKnap1{
  margin-top: 40px;
  grid-column: 1;
  grid-row: 1;
  background-color: #fff;
  height: 100px;
  width: 150px;
  color: #000;
  border-radius: 2%;
  pointer-events: auto;
  line-height: 70px;

}
.schoolKnap2{
  margin-top: 40px;
  grid-column: 2;
  grid-row: 1;
  background-color: #fff;
  height: 100px;
  width: 150px;
  color: #000;
  border-radius: 2%;
  text-align: center;
  pointer-events: auto;
  line-height: 70px;
}

.schoolText{
margin-top: 10%;
}
































/* WORK
WORK
WORK
WORK
WORK
WORK
WORK
WORK
WORK
WORK
WORK
WORK
WORK
WORK */

.workClose {
  grid-column: 3;
  grid-row: 1;
  color: #aaa;
  margin-top: -20px;
  font-size: 28px;
  font-weight: bold;
}

.workClose:hover,
.workClose:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.work-box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 5fr 5fr;
  justify-items: end;
  background-color: #000;
  margin: 378px auto;
  padding: 20px;
  width: 335px;
  height: 250px;
}

.work-content{
display: grid;
grid-column: 1/-1;
grid-row: 2/-1;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
grid-column-gap: 10px;
text-align: center;
justify-items: center;
align-items: center;
width: 320px;
height: 163px;
}

.workKnap1{
  margin-top: 40px;
  grid-column: 1;
  grid-row: 1;
  background-color: #fff;
  height: 100px;
  width: 150px;
  color: #000;
  border-radius: 2%;
  pointer-events: auto;
  line-height: 70px;

}
.workKnap2{
  margin-top: 40px;
  grid-column: 2;
  grid-row: 1;
  background-color: #fff;
  height: 100px;
  width: 150px;
  color: #000;
  border-radius: 2%;
  text-align: center;
  pointer-events: auto;
  line-height: 70px;
}

.workText{
margin-top: 10%;
}









/* ADNNEWEW
ADNNEWEW
ADNNEWEW
ADNNEWEW
ADNNEWEW
ADNNEWEW
ADNNEWEW
ADNNEWEWADNNEWEWADNNEWEW
ADNNEWEW
ADNNEWEW
ADNNEWEW
ADNNEWEW
ADNNEWEW */


.addClose {
  grid-column: 3;
  grid-row: 1;
  color: #aaa;
  margin-top: -20px;
  font-size: 28px;
  font-weight: bold;
}

.addClose:hover,
.addClose:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.add-box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 5fr 5fr;
  justify-items: end;
  background-color: #000;
  margin: 378px auto;
  padding: 20px;
  width: 335px;
  height: 250px;
  /* transition: none; */
}

.add-content{
display: grid;
grid-column: 1/-1;
grid-row: 2/-1;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
grid-column-gap: 10px;
text-align: center;
justify-items: center;
align-items: center;
width: 320px;
height: 163px;
}

.addKnap1{
  margin-top: 40px;
  grid-column: 1;
  grid-row: 1;
  background-color: #fff;
  height: 100px;
  width: 150px;
  color: #000;
  border-radius: 2%;
  pointer-events: auto;
  line-height: 70px;

}
.addKnap2{
  margin-top: 40px;
  grid-column: 2;
  grid-row: 1;
  background-color: #fff;
  height: 100px;
  width: 150px;
  color: #000;
  border-radius: 2%;
  text-align: center;
  pointer-events: auto;
  line-height: 70px;
}

.addText{
margin-top: 10%;
}











/* CAROUSEL */
.carousel {
  position: relative;
  display: grid;
  grid-column: 1/-1;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  margin-top: -14%;
  overflow: hidden;
  text-align: center;
  align-items: center;
}

#leftcard, #midcard, #rightcard {
  transition: .5s linear;

}

.kort1 {
  width: 150px;
  height: 100px;
  grid-column: 1;
  grid-row: 1;
  position: relative;
  border: none;
  color: #ffffff;
  border-radius: 3%;
  z-index: 2;
  margin-left: -10%;
  margin-right: -65%;
}

.kort2 {
  align-content: center;
  width: 200px;
  height: 150px;
  grid-column: 2;
  grid-row: 1;
  border: none;
  color: #000;
  border-radius: 3%;
  z-index: 5;
  margin: 0;
}



.kort3 {
  width: 150px;
  height: 100px;
  grid-column: 3;
  position: relative;
  border: none;
  color: #ffffff;
  border-radius: 3%;
  z-index: 1;
  margin-right: -10%;
  margin-left: -65%;
}

.onecolor {
  background-image: url("../Billeder/fitness-world.png");

}

.twocolor {
    background-image: url("../Billeder/multikey-small.png");

}

.threecolor {
  background-image: url("../Billeder/ucl-logo.png");



}

.editBtn{
  align-content: center;
  width: 198px;
  height: 150px;
  grid-column: 2;
  grid-row: 1;
  border: none;
  color: #fff;
  border-radius: 8%;
  z-index: 6;
  margin: 0;
}

.editBtn{
  margin-top: 10px;
}


.invis {
  display: none !important;
}


.radios {
  grid-column: 2;
  position: relative;
  width: 50%;
  margin: -17% auto;
  text-align: center;
}

input[type="radio"] {
  position: absolute;
  right: 1000%;
}

label {
  display: inline-block;
  width: 10px;
  padding-bottom: 10px;
  margin: 0 2.5%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  cursor: pointer;
}

#slider {
  position: absolute;
  left: 44%;
  top: 0;
  width: 6px;
  padding-bottom: 6px;
  margin: 3.8px 0 0 4.5px;
  background: #fff;
  transition: transform 1s;
  border-radius: 50%;
  animation-timing-function: ease-in-out;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  transition: 0.2s left 0.05s ease-in-out;
}

#input1:checked~#slider {
  animation-name: input1;
  left: 25%;
}

#input2:checked~#slider {
  animation-name: input2;
  left: 44%;
}

#input3:checked~#slider {
  animation-name: input3;
  left: 61.5%;
}

@keyframes input1 {

  30%,
  70% {
    transform: scale(0.5);
    background: #d3d3d3;
  }
}

@keyframes input2 {

  30%,
  70% {
    transform: scale(0.5);
    background: #d3d3d3;
  }
}

@keyframes input3 {

  30%,
  70% {
    transform: scale(0.5);
    background: #d3d3d3;
  }
}


/* LIST */
.yourlists {
  grid-column: 1/-1;
  grid-row: 4;
  margin-top: -7%;
}



.overskrift {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 5%;
  margin-left: 5%;
}

.list {
  background-image: linear-gradient(to bottom, #75DBCD 0%, #2588A7 100%);
  min-height: 60px;
  margin-top: 2%;
  width: 96%;
  margin-left: 2%;
  line-height: 30px;
  color: #ffffff;
  border: none;
  text-align: left;
}

.list p {
  display: inline-block;
  margin-left: 2%;
}

.list i {
  margin-left: 3%;
  font-size: 28px;
  margin-top: 5px;
}

.txtlist{
    font-size: 16px;
/* margin-top: 10px; */
}

.fa-graduation-cap{
  margin-right: -3.5px;
}

.fa-briefcase, .fa-plus-circle{
  margin-right: 3px;
}

.addlist{
  background-color: #3E6D7C;
  min-height: 60px;
  margin-top: 2%;
  width: 96%;
  margin-left: 2%;
  line-height: 30px;
  color: #ffffff;
  border: none;
  text-align: left;
}

.addnew {
  /* background-color: #375868; */
  min-height: 60px;
  margin-top: 2%;
  width: 96%;
  margin-left: 2%;
  line-height: 60px;
  color: #ffffff;
}

.addnew p {
  display: inline-block;
  margin-left: 2%;
  margin-top: 2%;
}

.addnew i {
  margin-left: 3%;
  font-size: 28px;
  margin-top: 2%;
}
