* {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  color: #ffffff;
  outline: none;
}

body {
  background: #2E3E54;
  margin: 0;
  padding: 0;
}

.gridwrap {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 2fr 0.5fr 3fr;
  /* border: 1px solid green; */
}

.topsection {
  display: grid;
  grid-column: 1/-1;
  grid-row: 1;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  /* border: 1px solid #000; */
  font-size: 36px;
}




/* burger-menu */
#nav-container {
  position: fixed;
  height: 120%;
  width: 100%;
  pointer-events: none;
  display: grid;
  z-index: 1000 !important;
}

#nav-container .bg {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: .5s;
  background: #000;
}

#nav-container:focus-within .bg {
  visibility: visible;
  opacity: .45;
  outline: none;
  display: block;
}

#nav-container * {
  visibility: visible;
}

.navbutton {
  grid-column: 1;
  display: inline-block;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-top: 5%;
  margin-left: 5%;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #fff;
  transition: .3s;
  z-index: 1001 !important;
  position: relative;
}

.icon-bar+.icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .navbutton {
  pointer-events: none;
}

#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0, 8px, 0) rotate(45deg);
}

#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}

#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0, -8px, 0) rotate(-45deg);
}

#nav-content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  padding: 20px;
  width: 90%;
  max-width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  background: rgba(0, 0, 0, 0.8);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateX(-101%);
  transition: transform .3s;
  will-change: transform;
  contain: paint;
  z-index: 1000 !important;
}

.menuitems {
  grid-column: 1/-1;
  height: 100%;
  margin-top: 80%;
  margin-left: 30% !important;
  pointer-events: auto;
  position: absolute;
}

.logout {
  grid-column: 1/-1;
  grid-row: 2;
  height: 100%;
  margin-top: -90%;
  margin-left: 30% !important;
  pointer-events: auto;
  position: absolute;

}

.fa-user-circle {
  grid-column: 2;
  grid-row: 2;
  margin-top: -15%;
  margin-left: -10%;
  margin-bottom: 20%;
  font-size: 100px;
}

#nav-content li a {
  padding: 10px 5px;
  margin-top: 8%;
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  transition: color .1s;
}

#nav-content li:hover {
  color: #BF7497;
}

.fa-li {
  font-size: 10px;
}

#nav-content li .fa-graduation-cap {
  font-size: 12px;
}

#nav-container:focus-within #nav-content {
  transform: none;
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: .2s ease-in-out;
}

h1, h2, h3, h4 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  vertical-align: middle;
  height: auto;
  width: 100%;
}




#nav-container1 {
  position: fixed;
  height: 120%;
  width: 100%;
  pointer-events: none;
  display: grid;
  z-index: 1000 !important;
}

#nav-container1 .bg1 {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  /* visibility: hidden; */
  opacity: 0;
  transition: .5s;
  background: #000;
}

#nav-container1:focus-within .bg1 {
  visibility: visible;
  opacity: .45;
  outline: none;
  display: block;
}

#nav-container1 * {
  visibility: visible;
}



.navbutton1 {
  grid-column: 1;
  display: inline-block;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  margin-top: 5%;
  margin-left: 5%;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.dropdown1{
  cursor: pointer;
  pointer-events: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 2fr 2fr;
  position: absolute;
  margin-top: 29.5%;
  margin-left: 18.5%;
  width: 199px;
  height: 150px;
  color: #ffffff;
  border-radius: 2%;
  z-index: 100;
  border: 2px solid #fff;
  justify-items: center;
  align-items: center;
  opacity: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateY(-10%);
    transition: transform .3s;
}

.icon-bar1 {
  display: block;
  width: 100%;
  height: 3px;
  background: #fff;
  transition: .3s;
  z-index: 1001 !important;
  position: relative;
  margin-left: 40px;
}

.icon-bar1+.icon-bar1 {
  margin-top: 5px;
  margin-left: 40px;
}

#nav-container1:focus-within .navbutton1 {
  pointer-events: none;
}

#nav-content1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 2fr 2fr;
  position: absolute;
  margin-top: 74%;
  margin-left: 23%;
  width: 199px;
  height: 250px;
  color: #ffffff;
  border-radius: 2%;
  z-index: 100;
  border: 2px solid #fff;
  background-color: #000;
  justify-items: center;
  transform: scale(0.01);
  transition: transform 1.3s;
  align-items: center;
  opacity: 0.9;
  /* display: none; */
}

.ani-slide{
  animation: slide 1s linear;
}

@keyframes slide{
  0%{margin-top: -110%;
  }
  100%{margin-top: 74%;}
}

.menuitems1 {
  grid-column: 1/-1;
  height: 100%;
  margin-top: 80%;
  margin-left: 30% !important;
  pointer-events: auto;
  position: absolute;
}

#nav-container1:focus-within #nav-content1 {
  transform: none;
}







.plusicon {
  display: inline-block;
  grid-column: 2;
  margin-top: 7%;
  margin-right: 7%;
  justify-self: end;
  font-size: 30px;
}








/* CAROUSEL */
.carousel1 {
  position: relative;
  display: grid;
  grid-column: 1/-1;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  margin-top: 5%;
  overflow: hidden;
  text-align: center;
  align-items: center;
  transition: 0.8s left 0.95s ease-in-out;
}

#leftcard, #midcard, #rightcard {
  transition: all .3s ease-in-out;

}

.kort1 {
  width: 150px;
  height: 100px;
  grid-column: 1;
  grid-row: 1;
  position: relative;
  border: none;
  color: #ffffff;
  border-radius: 3%;
  z-index: 2;
  margin-left: -10%;
  margin-right: -65%;
}

.kort2 {
  align-content: center;
  width: 200px;
  height: 150px;
  grid-column: 2;
  grid-row: 1;
  border: none;
  color: #ffffff;
  border-radius: 3%;
  z-index: 5;
  margin: 0;
}

.kort3 {
  width: 150px;
  height: 100px;
  grid-column: 3;
  position: relative;
  border: none;
  color: #ffffff;
  border-radius: 3%;
  z-index: 1;
  margin-right: -10%;
  margin-left: -65%;
}

.onecolor {
  background-color: red;
}

.twocolor {
  background-color: #4CAF50;
}

.threecolor {
  background-color: blue;
}

.editBtn{
  align-content: center;
  width: 198px;
  height: 150px;
  grid-column: 2;
  grid-row: 1;
  border: none;
  color: #ffffff;
  border-radius: 8%;
  z-index: 6;
  margin: 0;
  border: 2px solid #000;
}
.invis {
  display: none !important;
}


.radios {
  grid-column: 2;
  position: relative;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

input[type="radio"] {
  position: absolute;
  right: 1000%;
}

label {
  display: inline-block;
  width: 10px;
  padding-bottom: 10px;
  margin: 0 2.5%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  cursor: pointer;
}

#slider {
  position: absolute;
  left: 44%;
  top: 0;
  width: 6px;
  padding-bottom: 6px;
  margin: 3.8px 0 0 4.5px;
  background: #fff;
  transition: transform 1s;
  border-radius: 50%;
  animation-timing-function: ease-in-out;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  transition: 0.2s left 0.05s ease-in-out;
}

#input1:checked~#slider {
  animation-name: input1;
  left: 25%;
}

#input2:checked~#slider {
  animation-name: input2;
  left: 44%;
}

#input3:checked~#slider {
  animation-name: input3;
  left: 61.5%;
}

@keyframes input1 {

  30%,
  70% {
    transform: scale(0.5);
    background: #d3d3d3;
  }
}

@keyframes input2 {

  30%,
  70% {
    transform: scale(0.5);
    background: #d3d3d3;
  }
}

@keyframes input3 {

  30%,
  70% {
    transform: scale(0.5);
    background: #d3d3d3;
  }
}


/* LIST */
.yourlists {
  grid-column: 1/-1;
  grid-row: 4;
  margin-top: -2%;
  /* border: 1px solid #000; */
}


/*
#dropdown{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 2fr 2fr;
  position: absolute;
  margin-top: 74%;
  margin-left: 23%;
  width: 199px;
  height: 250px;
  color: #ffffff;
  border-radius: 2%;
  z-index: 100;
  border: 2px solid #fff;
  background-color: #000;
  justify-items: center;
  align-items: center;
  opacity: 0.9;
}
#dropdown .ddbg {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: .5s;
  background: #000;
}

.ddbg:focus-within .editknap {
  visibility: visible;
  opacity: .45;
  outline: none;
  display: block;
}

.editKnap{
  grid-column: 1/-1;
  grid-row: 1;
  background-color: #62bdba;
  height: 50%;
  width: 80%;
  line-height: 45px;
  color: #ffffff;
  text-align: center;
}
.shareKnap{
  grid-column: 1/-1;
  grid-row: 2;
  background-color: #62bdba;
  height: 50%;
  width: 80%;
  line-height: 45px;
  color: #ffffff;
  margin-top: -10%;
  text-align: center;
}

.deleteKnap{
  grid-column: 1/-1;
  grid-row: 3;
  background-color: #375868;
  height: 50%;
  width: 80%;
  line-height: 45px;
  color: #ffffff;
  margin-top: -20%;
  text-align: center;
}


.ddtext{

}
 */





.overskrift {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 5%;
  margin-left: 5%;
}

.list {
  background-color: #62bdba;
  min-height: 60px;
  margin-top: 2%;
  width: 96%;
  margin-left: 2%;
  line-height: 60px;
  color: #ffffff;
}

.list p {
  display: inline-block;
  margin-left: 2%;
}

.list i {
  margin-left: 3%;
  font-size: 16px;
}

.addnew {
  background-color: #375868;
  min-height: 60px;
  margin-top: 2%;
  width: 96%;
  margin-left: 2%;
  line-height: 60px;
  color: #ffffff;
}

.addnew p {
  display: inline-block;
  margin-left: 2%;
}

.addnew i {
  margin-left: 3%;
  font-size: 16px;
}
