@charset "utf-8";
/* CSS Document */

 * {
box-sizing: border-box;
}

.wrapper {
display: grid;
grid-template-columns: 1fr 3fr 1fr ;
grid-template-rows: 1fr;
}

body {
	background-color: #2b3e56;
	font-family: 'Josefin Sans', sans-serif;
	height: 100%;
	display: grid;
	webkit-text-size-adjust: 100%;
	webkit-font-smoothing: antialiased;
}

.backbtn {
	color: white;
	grid-column-end: 2;
	grid-row: 1;
  font-size: 30px;

}

.pagetitle{
	color: white;
	grid-row: 1;
	font-size: 10px;
	text-align: center;
  padding-top: 8px;
  font-family: 'Josefin Sans';
}

.cardholders{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1em;
  margin-top: 10px;
  margin-left: 5px;
  align: center;
}

.cardholder {
  height: 100px;
  width: 165px;
  border-radius: 10px;
}

.one {
  background-color: red;
  grid-row: 1;
  grid-column-start: 1;
}
.two {
  background-color: blue;
  grid-row: 2;
  grid-column-start: 1;
}
.three {
  background-color: green;
  grid-row: 3;
  grid-column-start: 1;
}
.four {
  background-color: yellow;
  grid-row: 1;
  grid-column-start: 2;
}
.five {
  background-color: grey;
  grid-row: 2;
  grid-column-start: 2;
}
.six {
  background-color: black;
  grid-row: 3;
  grid-column-start: 2;
}
.seven {
  background-color: black;
  grid-row: 4;
  grid-column-start: 1;
}
.eight {
  background-color: black;
  grid-row: 4;
  grid-column-start: 2;
}
.nine {
  background-color: black;
  grid-row: 5;
  grid-column-start: 1;
}
.ten {
  background-color: black;
  grid-row: 5;
  grid-column-start: 2;
}
