.wrapper {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: auto;
grid-gap: 8em;
border: 1px solid red;
grid
}

.color-grid {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: auto;
grid-gap: 8em;
border: 1px solid black;
grid
}

.color-1, .mainc, .faq{
  background: #eee;
  border: 1px solid black;
}

/* .logo, .slideshow, .kort, .footsie{
  background: #ddd;
  border: 1px solid black;
}

.slideshow {
  grid-column: 1/-1;
  grid-row: 2;
}

.kort{
  grid-row-end: 4;
  grid-column-start: 2;
}

.footsie{
  grid-row-start: 5;
  grid-column: 1/-1
} */
