
* {
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background: #2E3E54;


}

/* GRID */

.wrapper{
  display:grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  grid-gap: 5px;;
  /* border: 1px solid green; */
  max-height: 100%;
  max-width: 100%;

}

/* Her arbejdes med logo placering og størrelse i grid */

.imggo {
  position:relative;
  margin: 0px 0px 0px 0px;
  padding: 0;
  /* border: 2px solid red; */
  grid-column: 2;
  text-align: center;

}

.center{
  max-width: 70%;
}


/* Sign up form */

.signup{
  grid-column-start: 2;
  grid-row-start: 2;
  text-align: center;
  padding-top: 20px;
  position: relative;
  color: #fff;
}

/* Fjerner boksen rundt om input felter når du trykker */

textarea:focus, input:focus{
    outline: none;
}


.signup input{
  display: block;
  width: 100%;
  height: 25px;
  font-size: 80%;
  color: #fff;
  margin-top: 13%;


/* Tilføjer stregen under input felterne */

  outline: 0;
  border-width: 0 0 0.5px;
  border-color: #fff;

}

/* Styrer tekstboksen rundt up inputs */

.txtb{
  margin: 20px 0;
  background: #2E3E54;
  color: #fff;
}

/* Email Icon */

.email {
  position: relative;
}

.email input { text-indent: 24px;}
.email .fa-envelope {
  position: absolute;
  top: 2px;
  left: 0px;
}

/* Number Icon */

.number {
  position: relative;
}

.number input { text-indent: 24px;}
.number .fa-mobile-alt{
  position: absolute;
  top: 2px;
  left: 1px;
}


/* Password Icon */

.password {
  position: relative;
}

.password input { text-indent: 24px;}
.password .fa-lock{
 	position: absolute;
	top: 2px;
	left: 0px;
}

/*ToC Checkbox*/


.checkbox {
	display: block;
	position: relative;
	text-indent: 24px;
 	cursor: pointer;
	font-size: 75%;
	padding-top: 6px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: left;

}


.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #747474;
}


.checkbox input:checked ~ .checkmark {
  background-color: #75DBCD;
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.checkbox input:checked ~ .checkmark:after {
  display: block;
}


.checkbox .checkmark:after {
  left: 4.5px;
  top: 3.5px;
  width: 2.5px;
  height: 5px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/*-----------------------------*/


.trykmig{
grid-column-start: 2;
grid-row-start: 3;

}

.signup-btn {
  position: relative;
  font-size: 80%;
  color: #fff;
  margin-top: 10%;
  background-image: linear-gradient(to bottom, #75DBCD 0%, #2588A7 100%);
  cursor: pointer;
  border: none;
  width: 100%;
  height: 20%;
  text-align: center;

}


.already{
  grid-column-start: 2;
  grid-row-start: 3;
  margin-top:28%;
  text-align: center;
  margin-bottom: 5.5%;
}

.already a{
  text-decoration: none;
  color: #fff;
  font-size: 50%;
  font-family: 'Josefin Sans', sans-serif;

}

.already u{
  color: #75DBCD;
}
